#calendarDisplayContainer
    #calendarDisplay
        %h1.calendarTitle Calendar
        .flexBoxH
            %p#monthCounter.calendarCounter
            <div>/</div>
            %p#dayCounter.calendarCounter
            <div>/</div>
            %p#yearCounter.calendarCounter
