#calendarDisplayContainer
    #calendarDisplay
        %h1.calendarTitle Calendar
        .flexBoxH
            %p#monthCounter.calendarCounter {{ month }}
            <div>/</div>
            %p#dayCounter.calendarCounter {{ day }}
            <div>/</div>
            %p#yearCounter.calendarCounter {{ year }}
