#inventoryUI

    <div *ngFor="let inventoryBlock of inventoryBlocks; index as blockNum" class="inventoryBlock" [ngClass]="(blockNum=='0')?'firstIB':'notFirstIB'">
    <h1 class="inventoryTitle">{{ inventoryBlock.title }}</h1>
    <div class="flexBox">

    <div *ngFor="let item of inventoryBlock.items; index as i" class="inventoryIconGroup tooltipHover">
    
    <i class="inventoryIcon" [ngClass]="item.icon"></i>
    <p [attr.id]="item.counterId" class="inventoryCounter">{{item.text}}</p>

    <div class="tooltipBox inventoryTooltipPosition">
    <span class="tooltipText" [innerHTML]="'<b>' + item.tooltipTitle + '</b><br>' + item.tooltipDesc"></span>
    </div>

    </div>
    
    </div>
    </div>


-#
    .inventoryBlock
        %h1.inventoryTitle Memes
        .flexBox

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-clipboard-check
                %p#memesCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Memes</b><br>
                        Number of memes created.<br>
                        Create 10 to win.

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-wheelchair
                %p#memeChanceCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Memery Skill</b><br>
                        Chance to create a meme.<br>
                        Improved by Train Memery.

    .inventoryBlock
        %h1.inventoryTitle Cash
        .flexBox

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-coins
                %p#cashCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Cash</b><br>
                        Current cash.<br>
                        Used to pay bills.

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-business-time
                %p#salaryCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Salary</b><br>
                        Money earned from Working.<br>
                        Improved by Attempt Education.

    .inventoryBlock
        %h1.inventoryTitle Stats
        .flexBox

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-shopping-basket
                %p#billsCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Bills</b><br>
                        Amount due every week.<br>
                        Failure to pay results in defeat.

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-money-check
                %p#raiseCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Raise Amount</b><br>
                        Amount your salary increases<br>
                        from Attempt Education.

            .inventoryIconGroup.tooltipHover
                %i.inventoryIcon.fas.fa-fax
                %p#raiseChanceCounter.inventoryCounter
                .tooltipBox.inventoryTooltipPosition
                    %span.tooltipText
                        <b>Raise Chance</b><br>
                        Chance to increase salary<br>
                        with Attempt Education.
