/*****************/
/* CSS Variables */
/*****************/



////////////////////
// SASS Variables //
////////////////////

// Static Window Size Variables
$breakpointStaticWidth: 640px;
$breakpointStaticHeight: 480px;
$percentMarginWidth: 0.025;
$percentMarginHeight: 0.025;
$percentWindowWidth: 1 - (2 * $percentMarginWidth);
$percentWindowHeight: 1 - (2 * $percentMarginHeight);

// Margins 
$marginDefault: 4px;
$marginBig: 8px;
$marginInlineOffset: -4px;

// Paddings
$paddingDefault: 8px;
$paddingSmall: 2px;

// Borders
$borderDefault: 2px solid black;
$borderSmall: 1px solid black;
$roundedBorderDefault: 5px;

// Fonts
$fontTitleBig: small-caps 30px "Lexend Deca", sans-serif;
$fontTitleSmall: small-caps 14px "Lexend Deca", sans-serif;
$fontDescription: 8px "Lexend Deca", sans-serif;
$fontCounter: small-caps 12px "Lexend Deca", sans-serif;


//////////////////
// SASS Mix-ins //
//////////////////



/*****************/
/* Media Queries */
/*****************/

/* Scale window size to viewport size if at least 640x480 */
/* Otherwise, lock window size to 640 x 480 (including margins) */
@media (min-width: #{$breakpointStaticWidth}) {
    :root {
        --viewportWidth: 100vw;
        --windowWidth: #{$percentWindowWidth * 100}vw;
        --windowMarginWidth: #{$percentMarginWidth * 100}vw;
    }
}

@media (min-height: #{$breakpointStaticHeight}) {
    :root {
        --viewportHeight: 100vh;
        --windowHeight: #{$percentWindowHeight * 100}vh;
        --windowMarginHeight: #{$percentMarginHeight * 100}vh;
    }
}

@media (max-width: #{($breakpointStaticWidth) - 1}) {
    :root {
        --viewportWidth: #{$breakpointStaticWidth};
        --windowWidth: #{$percentWindowWidth * $breakpointStaticWidth};
        --windowMarginWidth: #{$percentMarginWidth * $breakpointStaticWidth};
    }
}

@media (max-height: #{($breakpointStaticHeight) - 1}) {
    :root {
        --viewportHeight: #{$breakpointStaticHeight};
        --windowHeight: #{$percentWindowHeight * $breakpointStaticHeight};
        --windowMarginHeight: #{$percentMarginHeight * $breakpointStaticHeight};
    }
}


/************/
/* Defaults */
/************/

div {
    cursor: default;
}

* { /* Disable highlighting text */
    /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari                      */
    -webkit-user-select: none;   /* Safari                          */
    -khtml-user-select: none;    /* Konqueror HTML                  */
    -moz-user-select: none;      /* Firefox                         */
    -ms-user-select: none;       /* Internet Explorer/Edge          */
    user-select: none;           /* Non-prefixed version, currently
                                    supported by Chrome and Opera   */
}


/********************************/
/* General HTML Building Blocks */
/********************************/

.flexBox {
    display: flex;

    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.blockBox {
    display: block;

    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}


/***************/
/* Window Size */
/***************/

:root {
    margin: 0;
    padding: 0;
}

body {
    width: var(--viewportWidth);
    height: var(--viewportHeight);
    box-sizing: border-box;
    overflow: hidden;

    margin: 0;
    padding: var(--windowMarginHeight) var(--windowMarginWidth) var(--windowMarginHeight) var(--windowMarginWidth);
}

#windowContainer {
    width: var(--windowWidth);
    height: var(--windowHeight);
}
