DDRRAM is a light sim game created to learn web development.
<br>You must create ten sound design memes to escape your parents' basement (victory).
<br>You must pay $30 in bills every week or lose your MemeNet account (defeat).
<br>
<br>Every day you can take one of four actions:
<br>Attempt Meme, Train Memery, Work, Attempt Education.
<br>
<br>Attempt Meme: Has a 10% chance to create a meme.
<br>Train Memery: Increases the success chance of Attempt Meme by 2%.
<br>Work: Earn $8.
<br>Attempt Education: 25% chance to increase salary from working by $2.
