#dialogBoxContainer
    <div id="dialogBox" [ngStyle]="{'background-color': dialogBoxColor}">
    
    <i id="dialogBoxIcon" [ngClass]="dialogBoxIcon"></i>
    <p id="dialogBoxText" [innerHTML]="dialogBoxText"></p>
    
    </div>
