!!! 5
%html(lang="en")

%head
    / Meta Tags Generated via http://heymeta.com
    / HTML Meta Tags
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="twitter:title" content="DDRRAM-game")
    %meta(name="keywords" content="")
    %meta(name="author" content="Christien Ayson")

    %meta(name="description" content="A light sim game. You must create ten sound design memes to escape your parents' basement.")

    / Google / Search Engine Tags
    %title Drummer Dreamer Reamer Reader and Memer
    %link(rel="icon" type="image/x-icon" href="./assets/meta/favicon.ico")
    %link(rel="icon" type="image/png" sizes="32x32" href="./assets/meta/favicon-32x32.png")
    %link(rel="icon" type="image/png" sizes="16x16" href="./assets/meta/favicon-16x16.png")
    %link(rel="apple-touch-icon" sizes="180x180" href="./assets/meta/apple-touch-icon.png")
    %link(rel="mask-icon" href="./assets/meta/safari-pinned-tag.svg" color="#ff8c00")
    %meta(name="msapplication-TileColor" content="#ff8c00")
    %base(href="/")

    / TO-DO: PWA
    %link(rel="manifest" href="./assets/meta/manifest.webmanifest")
    %meta(name="theme-color" content="#FF8C00")

    / Prefetch/Preconnect
    %link(rel="dns-prefetch" href="//fonts.googleapis.com")
    %link(rel="preconnect" href="//fonts.googleapis.com" crossorigin="anonymous")
    %link(rel="dns-prefetch" href="//kit.fontawesome.com")
    %link(rel="preconnect" href="//kit.fontawesome.com" crossorigin="anonymous")

    / Fonts/Icons/Stylesheet
    %link(href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet")
    %script(src="https://kit.fontawesome.com/0258de4d9a.js")

    / Libraries/Modules
    / %script var exports = {};

    / TO-DO: Global Site Tag (gtag.js) - Google Analytics


%body
    #windowContainer
        %app-root Loading...
