/////////////
// Imports //
/////////////

@import '../../../global-styles/ui-styles.scss';
@import './inventory/inventory.component.scss';


/*****************/
/* CSS Letiables */
/*****************/



////////////////////
// SASS Letiables //
////////////////////

$gameWorldScreenWidth: var(--windowWidth);
$gameWorldScreenHeight: calc(var(--windowHeight) - #{$inventoryHeight});


//////////////////
// SASS Mix-ins //
//////////////////



/*****************/
/* Media Queries */
/*****************/



/*********************/
/* Game World Screen */
/*********************/

#gameWorldScreen {
    width: $gameWorldScreenWidth;
    height: $gameWorldScreenHeight;
    box-sizing: border-box;

    border: $borderDefault;
}
