/*****************/
/* CSS Variables */
/*****************/



////////////////////
// SASS Variables //
////////////////////

// Margins 
$marginSmall: 4px;
$marginDefault: 8px;
$marginBig: 16px;
$marginInlineOffset: -8px;

// Paddings
$paddingDefault: 8px;
$paddingSmall: 2px;

// Fonts
$fontTitleBig: small-caps 30px "Lexend Deca", sans-serif;
$fontTitleSmall: small-caps 14px "Lexend Deca", sans-serif;
$fontDescription: 8px "Lexend Deca", sans-serif;
$fontCounter: small-caps 12px "Lexend Deca", sans-serif;

// Borders
$borderDefaultThickness: 2px;
$borderDefaultLine: solid;
$borderDefaultColor: black;
$borderDefault: $borderDefaultThickness $borderDefaultLine $borderDefaultColor;
$borderSmallThickness: 1px;
$borderSmallLine: solid;
$borderSmallColor: black;
$borderSmall: $borderSmallThickness $borderSmallLine $borderSmallColor;
$roundedBorderDefault: 5px;

// UI Variables
$inventoryHeight: 87px;
$inventoryHorizontalGroupHeight: 29px;
$inventoryTooltipHeight: 50px;
$gameButtonWidth: 140px;
$gameButtonTitleHeight: 18px;
$dialogBoxWidth: 220px;
$dialogBoxHeight: 70px;
$dialogBoxTextHeight: 18px;
$calendarDisplayWidth: 70px;
$calendarDisplayHeight: 70px;
$gameWorldScreenWidth: var(--windowWidth);
$gameWorldScreenHeight: calc(var(--windowHeight) - #{$inventoryHeight} - #{$marginDefault});


//////////////////
// SASS Mix-ins //
//////////////////




/////////////
// Imports //
/////////////

@import  '../../../global-styles/flexbox';


/*****************/
/* Media Queries */
/*****************/



/*********************/
/* Game World Screen */
/*********************/

#gameWorldScreen {
    width: $gameWorldScreenWidth;
    height: $gameWorldScreenHeight;
    box-sizing: border-box;

    margin-bottom: $marginDefault;

    border: $borderDefault;
}

#dialogBoxContainer {
    position: absolute;
    
    margin-top: calc(#{$marginDefault} - #{$borderDefaultThickness});
    margin-left: calc((var(--windowWidth) / 2) - (#{$dialogBoxWidth} / 2) - #{$borderDefaultThickness});

    z-index: 2;
}

#dialogBox {
    width: $dialogBoxWidth;
    height: $dialogBoxHeight;
    box-sizing: border-box;

    display: flex;
    
    justify-content: center;
    -webkit-justify-content: center;

    padding: $paddingDefault;
    
    border: $borderDefault;
    border-radius: $roundedBorderDefault;

    background-color: lightsteelblue;

    opacity: 0;
}

#dialogBoxIcon {
    position: absolute;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    left: $paddingDefault;
}

#dialogBoxText {
    position: absolute;
    align-self: flex-end;
    -webkit-align-self: flex-end;

    margin: 0px;

    font: $fontTitleSmall;
    text-align: center;
    white-space: nowrap;
}

#calendarDisplayContainer {
    position: absolute;
    
    margin-top: calc(#{$marginDefault} - #{$borderDefaultThickness});
    margin-left: calc(var(--windowWidth) - #{$calendarDisplayWidth} - #{$marginDefault} - #{$borderDefaultThickness});

    z-index: 2;
}

#calendarDisplay {
    width: $calendarDisplayWidth;
    height: $calendarDisplayHeight;
    box-sizing: border-box;

    display: flex;
    
    justify-content: center;
    -webkit-justify-content: center;

    padding: $paddingDefault;

    border: $borderDefault;
    border-radius: $roundedBorderDefault;

    background-color: lightsteelblue;
}


/**************/
/* General UI */
/**************/

.tooltipBox {
    position: relative;
    
    visibility: hidden;
    z-index: 3;
}

.tooltipText {
    position: absolute;

    padding: $paddingDefault;
    
    border: $borderDefault;
    border-radius: $roundedBorderDefault;

    background-color: lightsteelblue;

    font: $fontDescription;
    text-align: center;
    white-space: nowrap;
}

.tooltipHover:hover .tooltipBox {
    visibility: visible;
}


/****************/
/* Inventory UI */
/****************/

#inventoryUI {
    height: $inventoryHeight;
    
    display: flex;

    justify-content: center;
    -webkit-justify-content: center;

    margin-top: calc(0px - #{$borderDefaultThickness});
}

.inventoryBlock {
    @include flexbox();
    flex-direction: column;

    margin-left: calc(#{$marginDefault} - #{$borderDefaultThickness});
    padding: $paddingDefault;
    
    border: $borderDefault;
}

.inventoryTitle {
    margin: 0px;
    padding: 0px;

    font: $fontTitleBig;
    text-align: center;
}

.inventoryIconGroup {
    margin: 0px $marginDefault;
}

.inventoryIcon {
    display: inline-block;
}

.inventoryCounter {
    display: inline-block;

    margin: 0px 0px 0px $marginSmall;
    padding: $paddingSmall;
    
    border: $borderSmall;
    border-radius: $roundedBorderDefault;

    font: $fontCounter;
}

.inventoryTooltipPosition {
    right: 60%;
    bottom: $inventoryTooltipHeight + $inventoryHorizontalGroupHeight;
}


/******************/
/*  Game Buttons  */
/******************/

.gameButtonVerticalGroup {
    height: calc(#{$gameWorldScreenHeight} - #{$marginDefault});
}

.gameButton {
    width: $gameButtonWidth;
    height: calc((#{$gameWorldScreenHeight} - (#{$marginDefault} * 5) + (#{$borderDefaultThickness} * 3)) / 4);
    box-sizing: border-box;
    display: flex;

    margin-top: calc(#{$marginDefault} - #{$borderDefaultThickness});
    margin-left: calc(#{$marginDefault} - #{$borderDefaultThickness});
    
    padding: $paddingDefault;
    
    border: $borderDefault;
    border-radius: $roundedBorderDefault;

    background-color: darkseagreen;
}

.gameButtonTitle {
    height: $gameButtonTitleHeight;
    
    align-self: flex-end;
    -webkit-align-self: flex-end;

    margin: 0px;

    font: $fontTitleSmall;
    text-align: center;
    white-space: nowrap;
}

.gameButtonIcon {
    position: absolute;
    align-self: flex-start;
    -webkit-align-self: flex-start;
}

.gameButtonTooltipPosition {
    bottom: 10px;
    left: $gameButtonWidth;
}
