#background
    #titleBox
        %h1#title DDRRAM
        %h2#subtitle Drummer Dreamer Reamer Reader and Memer
    #screenBox
        #buttonBox
            #playButton.button
                .flexBox
                    .buttonText Play
            #loadButton.button
                .flexBox
                    .buttonText Load
            #optionsButton.button
                .flexBox
                    .buttonText Options
            #creditsButton.button
                .flexBox
                    .buttonText Credits
            #quitButton.button
                .flexBox
                    .buttonText Quit
