#background
    #titleBox
        %h1#title DDRRAM
        %h2#subtitle Drummer Dreamer Reamer Reader and Memer
    #screenBox
        #buttonBox
            <div id="playButton" class="button firstButton" [routerLink]="['/game']">
            <div class="flexBox">
            <div class="buttonText"> Play </div></div></div>
            
            <div id="howToPlayButton" class="button notFirstButton" [routerLink]="['/howToPlay']">
            <div class="flexBox">
            <div class="buttonText"> How to Play </div></div></div>

            <div id="loadButton" class="button notFirstButton" [routerLink]="['/loadGame']">
            <div class="flexBox">
            <div class="buttonText"> Load Game </div></div></div>

            #optionsButton.button.notFirstButton
                .flexBox
                    .buttonText Options
            #creditsButton.button.notFirstButton
                .flexBox
                    .buttonText Credits
            #quitButton.button.notFirstButton
                .flexBox
                    .buttonText Quit
