.blockBox
    #titleBox
        %h1#title DDRRAM
        %h2#subtitle Drummer Dreamer Reamer Reader and Memer
    #buttonBox
        #playButton.mainMenuButton Play
        #loadButton.mainMenuButton Load
        #optionsButton.mainMenuButton Options
        #creditsButton.mainMenuButton Credits
        #quitButton.mainMenuButton Quit
