#background
    #titleBox
        %h1#title DDRRAM
        %h2#subtitle Drummer Dreamer Reamer Reader and Memer
    #screenBox
        #buttonBox
            <div id="playButton" class="button" [routerLink]="['/game']">
            <div class="flexBoxV">
            <div class="buttonText"> Play </div></div></div>
            
            #loadButton.button
                .flexBoxV
                    .buttonText Load
            #optionsButton.button
                .flexBoxV
                    .buttonText Options
            #creditsButton.button
                .flexBoxV
                    .buttonText Credits
            #quitButton.button
                .flexBoxV
                    .buttonText Quit
