/////////////
// Imports //
/////////////

@import  '../../../global-styles/flexbox';
@import '../../../global-styles/ui-styles.scss';


/*****************/
/* CSS Variables */
/*****************/



////////////////////
// SASS Variables //
////////////////////

// Title Box Lets
$titleBoxHeight: 112px;

// Main Menu Button Lets
$mainMenuButtons: 6;
$mainMenuButtonWidth: 160px;
$mainMenuButtonHeight: 40px;


//////////////////
// SASS Mix-ins //
//////////////////



/*****************/
/* Media Queries */
/*****************/



/**********/
/* Screen */
/**********/

#background {
    // Fix bottom and right margins being smaller
    width: calc(100% - #{$borderDefaultThickness * 2});
    height: calc(100% - #{$borderDefaultThickness * 2});

    margin: 0;
    padding: 0;
}

#screenBox {
    width: 100%;
    height: calc(100% - #{$titleBoxHeight} - var(--windowMarginHeight) - #{$borderDefaultThickness * 2});

    @include flexbox();
}


/*********/
/* Title */
/*********/

#titleBox {
    width: 100%;
    height: $titleBoxHeight;

    margin-bottom: var(--windowMarginHeight);

    border: $borderDefault;
}

#title {
    font: $fontTitleBig;
    text-align: center;
}

#subtitle {
    font: $fontTitleSmall;
    text-align: center;
}


/***********/
/* Buttons */
/***********/

#buttonBox {
    width: auto;
    height: auto;

    @include flexbox();
    flex-direction: column;

    border: $borderDefault;
}

.button {
    width: 160px;
    height: 40px;

    margin-right: $marginDefault;
    margin-bottom: $marginDefault;
    margin-left: $marginDefault;

    border: $borderDefault;
    border-radius: $roundedBorderDefault;
}

.firstButton {
    margin-top: calc(#{$marginDefault});
}

.notFirstButton {
    margin-top: 0px;
}

.buttonText {
    width: 100%;

    font: $fontTitleSmall;
    text-align: center;
}
